@use "../mixins/mixins" as *;

.main {
  position: relative;
  height: max-content;
  grid-area: main;
  background-color: white;
  border-radius: 20px;
  @include lg-min {
    margin-left: 70px;
  }
  @include lg {
    overflow-x: scroll;
    margin-left: 20px;
    margin-right: 20px;
  }
  @include md-min {
    &::after {
      content: "";
      position: absolute;
      top: 165px;
      width: 100%;
      height: 1px;
      background-color: #EEEEEE;
    }  
  }
}

.customers {
  padding: 30px 40px;
  @include sm {
    padding: 15px;
  }
  &__head {    
    display: grid;   
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    
    @include md-min {
      width: 90%;
      grid-template-areas: 
      "title search"
      "active search";
    }

    @include md {
      grid-template-areas: 
      "title"
      "active"
      "search";
      justify-content: center;
      justify-items: center;
      row-gap: 15px;
    }
    
    @include xs {
      text-align: center;
    }
    &-title {
      @include md-min {
        font-size: 22px;
      }

      @include md {
        font-size: 16px;
      }
      padding-bottom: 7px;
      grid-area: title;
      font-weight: 600;
    }

    &-active {
      grid-area: active;
      font-size: 14px;
      color: #16C098;
    }

    &-search {
      padding: 0.5em;
      position: relative;
      max-height: 22px;
      grid-area: search;
      border: none;
      background-color: #F9FBFF;
      border-radius: 10px;
      
      background-image: url('./../../../img/search.svg');
      background-repeat: no-repeat;
      background-size: 13%;
      background-position: 8px center;
      transition: all .6s;
      @include sm {
        background-size: 8%;
        width: 50%;
        max-height: 15px;
      }
      &::placeholder {      
        padding-left: 40px;
        font-size: 12px;
        color: #B5B7C0;
        @include sm {
          padding-left: 15px;
          font-size: 9px;
        }
      }

      &:focus {
        outline: none;
        background-image: none
      }
    }
  }

  &__list {
    @include lg {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-title {
      padding-bottom: 20px;
      display: grid;
      @include md-min {
        grid-template-columns: 170px 130px 155px 205px 155px 1fr;
      }
      @include md {
        display: none;
      }
      font-weight: 500;
      font-size: 14px;
      color: #B5B7C0;
    }
    &-items {
      font-weight: 500;
      font-size: 14px;
      color: #292D32;
      display: grid;
      @include md-min {
        grid-template-columns: 170px 130px 155px 205px 140px 1fr;
      }
      @include sm {
        font-size: 11px;
        justify-items: center;
      }
      padding-top: 17px;
      padding-bottom: 17px;
      border-bottom: 1px solid #EEEEEE;
    } 
  }

  &__inline {
    display: inline;
  }

  &__active {
    font-weight: 500;
    font-size: 14px;
    color: #008767;
    padding: 0.2em 1.2em;
    border-radius: 4px;
    background-color: #A6E7D8;
    border: 1px solid #008767;
    transition: all .6s;
    &:focus {
      outline: none;
    }
  }
  
  &__inactive {
    font-weight: 500;
    font-size: 14px;
    color: #DF0404;
    padding: 0.2em 0.76em;
    border-radius: 4px;
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
    transition: all .6s;
    &:focus {
      outline: none;
    }

  }
  &__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    @include md {
      justify-content: center;
    }
    &-content {
      font-weight: 500;
      font-size: 14px;
      color: #B5B7C0;
      @include md {
        display: none;
      }
    }

    &-actions {
      display: flex;
      gap: 12px;
    }

    &-btn {
      font-weight: 500;
      font-size: 12px;
      color: #404B52;
      background-color: #f5f5f5;
      border: 1px solid #EEEEEE;
      border-radius: 4px;
      width: 26px;
      height: 24px;
      &.active {
        background-color: #5932EA;
        border: 1px solid #5932EA;
        color: #FFFFFF;
        transition: all .6s;
      }
      @include xs {
        display: none;
      }
    }

  }
}

.sm {
  display: block;
}