@use "../mixins/mixins" as *;

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #F7FAFE;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "aside header"
  "aside main";
  @include lg-min {
    grid-template-columns: 310px 1fr;
    grid-template-rows: max-content 1fr;
  }
}

.container {
  @include lg-min {
    max-width: 1360px;
  }
  margin: 0 auto;
}